.DS_Store
site
env/
exercise-variance/data_input
exercise-variance/data_output
exercise-variance-solution/data_input/pancreas_train.h5ad
exercise-variance-solution/data_input/pancreas_valid.h5ad
exercise-variance-solution/data_input/pancreas_test.h5ad
exercise-scvi/data_input/pancreas_train.h5ad
exercise-scvi/data_input/pancreas_valid.h5ad
exercise-scvi/data_input/pancreas_test.h5ad
exercise-scvi-solution/data_input/pancreas_train.h5ad
exercise-scvi-solution/data_input/pancreas_valid.h5ad
exercise-scvi-solution/data_input/pancreas_test.h5ad
exercise-scvi/model_centralized/
exercise-scvi/model_federated/
exercise-scvi-solution/model_centralized/
exercise-scvi-solution/model_fedearated/
